# This file lists the Python libraries used in the virtual enviroment.
# See the venv.ps1 and venv.sh scripts in this directory.
# Chris Joakim, Microsoft, 2023

Jinja2
arrow
certifi
dnspython
docopt
flake8
humanize
openpyxl
psutil
pymongo
pytest
requests
